<%- include('../partials/header') %>

<form action="/reports" method="POST">
    <input type="text" name="text" id="">
    <input type="submit" value="submit"> 
</form>

<form action="/reports" method="POST">
    <input type="text" name="text">
    <input type="number" name="occupancy">
    <input type="number" name="arrivals">
    <input type="number" name="departures">
    <input type="submit" value="SUBMIT">
</form>



</body>
</html>