body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: auto;
  align-content: center;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
 /* flex-wrap: wrap; */
}

a {
  color: #00B7FF;
}

.brand-logo {
  margin-left: 0;
}

.container {
  padding: 10px;
}
.nav-wrapper {
  text-align: center;
}

.right {
  align-content: center;
  color: black;
}

.material-icons {
  color: black;
}

h2, h3 {
  font-size: 
}